.panel.panel-default.col-md-6
  .panel-heading
    %h4 Listing categories
  .panel.body

    %table.table
      %tr
        %th Name
        %th
        %th
        %th

      - categories.each do |category|
        %tr
          %td= link_to category.name, category
          - if user_signed_in? && current_user.admin?
            %td= link_to 'Edit', edit_category_path(category), class: 'btn btn-primary'
            %td= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

.col-md-8
  = link_to 'New Category', new_category_path, class: 'btn btn-primary' if user_signed_in? && current_user.admin?
